.about{
    display: flex;
    flex-direction: column; 
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    gap: 3rem; 
    padding: 9rem 1rem;
}

.about__description{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 500px;
}

.title{
    color: var(--dark-purple);
    text-align: center;
}

.about__picture{
    width: 20rem;
    border-radius: 50%;
}

.cv{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.cv  button{
    width: 6rem;
    height: 3rem;
    background-color: var(--dark-purple);
    border-radius: 20px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.cv  button:hover{
    background-color: var(--dark-white);
    transition: .2s ease-in-out;
}


@media only screen and (min-width: 1300px) {
    .about {
        flex-direction: row;
        padding: 0rem 15rem;
        gap: 10rem;
    }
    .about__description{
        font-size: 1.1rem;
    }
    .about__picture{
        width: 23rem;
    }
}