.about{
    display: flex;
    flex-direction: column; 
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
    padding-top: 10rem;
    gap: 3rem; 
}

.about__description{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 500px;
}

.title{
    color: var(--dark-purple);
    font-size: 2rem;
}

.about__picture{
    width: 20rem;
    border-radius: 50%;
}

@media only screen and (min-width: 1300px) {
    .about {
        flex-direction: row;
        padding: 0rem 15rem;
        gap: 10rem;
    }
    .about__description{
        font-size: 1.1rem;
    }
    .about__picture{
        width: 23rem;
    }
}