.about{
    display: flex;
    flex-direction: column; 
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    gap: 3rem; 
    padding: 9rem 1rem;
}

.about__description{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 500px;
}

.title{
    color: var(--dark-purple);
    text-align: center;
}

.about__picture{
    width: 20rem;
    border-radius: 50%;
}

.cv{
    display: flex;
    justify-content: center;
}

.cv a{
    text-decoration: none;
}

.cv  button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16rem;
    padding: .5rem 2rem;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid var(--dark-purple);
    color: white;
    background-color: transparent;
    box-shadow: 0 0 2em 0 var(--dark-purple);
}

.cv  button:hover{
    box-shadow: 0 0 3em 0 var(--dark-purple);
    transition: .2s ease-in-out;
}

@media only screen and (min-width: 1300px) {
    .about {
        flex-direction: row;
        padding: 0rem 15rem;
        gap: 10rem;
    }
    .about__description{
        font-size: 1.1rem;
    }
    .about__picture{
        width: 23rem;
    }
}