.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    padding-left: 2rem;
    padding-right: 2rem;
}

.headerNav{
    position: absolute;
    top: 8vh;
    left: 100%;
    width: 50%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    transform: translate(0); 
    transition: ease-out .3s;
}

@media screen and (min-width:700px) {
    .headerNav{
        position: static;
        flex-direction: row;
        width: fit-content;
        transform: none;
    }
}

.headerNav li a{
    text-decoration: none;
    color: white;
}

.headerBurgerMenu{
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

@media screen and (min-width:700px) {
    .headerBurgerMenu{
        display: none;
    }
}

.headerBurgerline{
    width: 90%;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    
}

.isMenu{
    transform: translate(-100%);
}

/* CLICKED */

.headerBurgerline.clicked:nth-child(1){
    transform: translateY(5px) rotate(45deg); ; 
    transition: ease-in-out .3s;
}

.headerBurgerline.clicked:nth-child(2){
    transform: translateY(-5px) rotate(-45deg);
    transition: ease-in-out .3s;
}


/* UNCLICKED */

.headerBurgerline.unclicked:nth-child(1){
    transform: translateY(0); 
    transition: ease-in-out .3s;
}

.headerBurgerline.unclicked:nth-child(2){
    transform: translateY(0); 
    transition: ease-in-out .3s;
}

