.contact{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 1rem;
    padding-top: 10vh;
    padding-bottom: 10vh;
    .contact__title{
        font-size: 3rem;
        text-align: center;
    }
    form{
        width: 20rem;
        height: 30rem;
        padding: 2rem;
        box-shadow: 0 0 20px 7px gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        input{
            width: 18rem;
            padding: .5rem;
            font-family: inherit;
            border: 1px solid black;
        }
        textarea{
            width: 18rem;
            height: 15rem;
            padding: .5rem;
            border: 1px solid black;
            font-family: inherit;
            resize: none;
        }
        button{
            width: 6rem;
            height: 3rem;
            border-radius: 20px;
            border: none;
            color: white;
            background-color: black;
            font-family: inherit;
            font-size: 2rem;
        }
    }
}





