/* First section */

.home{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12rem 1rem;
    gap: 10rem;
}

.home__first h1{
    font-size: 2rem;
}

.home__first h1 span{
    color: var(--dark-purple);
}

/* Second section */

.home__second{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.home__second h1{
    font-size: 2rem;
}

.home__second a{
    text-decoration: none;
    display: flex;
    justify-content: end;
}

.home__second h1 span{
    color: var(--dark-purple);
}

.home__second button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    padding: .5rem 2rem;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid var(--dark-purple);
    color: white;
    background-color: transparent;
}

.home a button:hover{
    transform: scale(105%);
    transition: .2s ease-in-out;
}

/* Third section */

.home__third{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.home__third h1{
    text-align: end;
}

.home__third h1 span{
    color: var(--dark-purple);
}

.skills{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
}

.skills__skill{
    display: flex;
    width: 25rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 50px;
    border: 2px solid var(--dark-purple);
}

.skills__skill:hover{
    border-color: var(--dark-white);
    transition: .2s ease-in-out;
}

.skill__icon{
    width: 2rem;
}

@media only screen and (min-width: 900px) {
    .skills{
        grid-template-columns: 1fr 1fr;
    }
}


@media only screen and (min-width: 1200px) {
    .home__first h1{
        font-size: 3.5rem;
    }
    
    .home__second{
        max-width: 70rem
    }

    .home__second h1{
        font-size: 3.5rem;
    }

    .home__third h1{
        font-size: 3.5rem;
    }

    .skills{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .skills__skill{
        width: 15rem;
    }

    .home a button{
        width: 15rem;
    }
}

